form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

fieldset {
  display: flex;
  flex-direction: row;
  padding: 0.2rem 0 0 0;
  margin-bottom: 1.5rem;
  border: 0;
}

.field {
  flex-basis: 100%;
  height: 2rem;
  font-size: 1rem;
  font-family: "Ubuntu-L", Helvetica, Arial, sans-serif;
  color: var(--grey);
}
 
.txtarea {
  height: 8rem;
  resize: none;
}

.button {
  font-size: 1rem;
  height: 2rem;
  margin-right: 1rem;   
}

